{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
During these stressful, challenging, and unprecedented times due to the Covid – 19 pandemic, I realize that safety is mine and everyone’s top priority. Although I personally believe fitness to be the best medicine for mental and physical health, I also believe the safety of my clients and myself to be of the utmost importance. While training at West Coast Iron, every safety measure has been implemented. When I’m personally training my clients be it at the gym, outside, or your location, you can be confident that you’ll be training under safe conditions. Please contact me with questions.
{% endblock %}